/* Landing Page */
.main-title{
	color: black;
	font-family: "Cabin", sans-serif;
	font-size: 80px;
	position: center;
}

.plot-command{
	font-family: "Cabin", sans-serif;
	font-size: 25px;
	text-decoration: none;
	color: black;
}

/* Menu Page */
.seasons{
	display: flex;
	flex-wrap: wrap;
}

.season-grid{
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px;
}

.menu-title{
	font-family: "Cabin", sans-serif;
	font-size: 20px;
	position: absolute;
	display: block;
	width: 100%;
	padding: 0px;
	font-size: 30px;
	text-align: center;
}

.spring-button{
	background-color: #A94064;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
	font-family: "Cabin", sans-serif;
	font-weight: bold;
	width: fit-content;
}

.summer-button{
	background-color: #013220;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
	font-family: "Cabin", sans-serif;
	font-weight: bold;
	width: fit-content;
}

.fall-button{
	background-color: #8B4000;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
	font-family: "Cabin", sans-serif;
	font-weight: bold;
	width: fit-content;
}

.winter-button{
	background-color: #002147;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
	font-family: "Cabin", sans-serif;
	font-weight: bold;
	width: fit-content;
}

.spring-icon{
	width: 400px;
	height: 400px;
	padding: 0px;
}

.summer-icon{
	width: 400px;
	height: 400px;
	padding: 0px;
}

.fall-icon{
	width: 400px;
	height: 400px;
	padding: 0px;
}

.winter-icon{
	width: 400px;
	height: 400px;
	padding: 0px;
}

/*Spring Page*/
.spring-title{
	font-family: "Cabin", sans-serif;
	font-size: 25px;
	left: 70%;
	position: relative;
}

.spring-chart{
	margin-top: 100px;
}

/*Summer Page*/

/*Fall Page*/

/*Winter Page*/
